

<div class="container">
  <h2>Welcome To Admin Dashboard</h2>

  <div class="row">
    <a routerLink="/admin-dashboard/car-list-operation" href="" class="col-md-5">
      <div id="card">
        <div class="card bg-dark border-warning">
          <img src="assets/img/cars.jpg" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Cars list Operation</h5>
          </div>
        </div>
      </div>
    </a>

    <a routerLink="/admin-dashboard/brand-color-manager" href="" class="col-md-5">
      <div id="card">
        <div class="card bg-dark border-warning">
          <img src="assets/img/brand.jpg" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Brand And Car Operation</h5>
          </div>
        </div>
      </div>
    </a>


  </div>

  <div class="row">

    <a routerLink="/admin-dashboard/user-customer-manager" href="" class="col-md-5">
      <div id="card">
        <div class="card bg-dark border-warning">
          <img src="assets/img/customer.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Customer Operation</h5>
          </div>
        </div>


      </div>
    </a>

    <a routerLink="/admin-dashboard/carAdd" href="" class="col-md-5">
      <div id="card">
        <div class="card bg-dark border-warning">
          <img style="background-color: #fff;" src="assets/img/carsAdd.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Car Add</h5>
          </div>
        </div>

      </div>
    </a>

  </div>

  <div class="row">
    <a routerLink="/admin-dashboard/payments-rentals-operation" href="" class="col-md-5">
      <div id="card">
        <div class="card bg-dark border-warning">
          <img src="assets/img/payment.png" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Payments</h5>
          </div>
        </div>
      </div>
    </a>


    <a routerLink="/admin-dashboard/payments-rentals-operation" href="" class="col-md-5">
      <div id="card">
        <div class="card bg-dark border-warning">
          <img src="assets/img/rental.jpg" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Rentals</h5>
          </div>
        </div>

      </div>
    </a>
    <a routerLink="/admin-dashboard/category-manager" href="" class="col-md-5">
      <div id="card">
        <div class="card bg-dark border-warning">
          <img src="assets/img/category.jpg" class="img-fluid" alt="Responsive image">
          <div class="card-body">
            <h5 class="card-title">Category Operations</h5>
          </div>
        </div>

      </div>
    </a>



  </div>
</div>
