#profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #f0ad4e;
}
img{
  width: 100%;
  height: 100%;
}
label {
  color: #fff
}
small{
  color: #fff;
}
h5{
  color:#fff;
}
span{
  color:#f0ad4e
}
