<button type="button" class="btn btn-outline-light" (click)="openRegister(register)">SIGN UP</button>

<ng-template #register let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Register</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerFormGroup">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input formControlName="firstName" name="dp" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input formControlName="lastName" name="dp" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input formControlName="email" name="dp" type="email" class="form-control" appEmail aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input formControlName="password" name="dp" type="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Password Again</label>
        <input formControlName="passwordAgain" name="dp" type="password" class="form-control">
      </div>
      <button (click)="authRegister(); modal.dismiss()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>
