<div id="about">
  <div class="container">
      <h2>About</h2>

      <div class="row">
          <div class="col-md-6">
              <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab minus neque doloremque. Sapiente,
                  magni nobis excepturi asperiores officia sit dolor amet quas adipisci, eos quisquam molestiae
                  omnis quis sed at.
              </p>
          </div>
          <div class="col-md-6">
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, id! Architecto nesciunt,
                  quisquam voluptates rerum eius error, vero, suscipit possimus tempora ab deleniti! Odit veniam
                  maiores ipsam velit quo explicabo.
              </p>
          </div>

      </div>

  </div>
</div>

<footer>
  <div class="container">
      <div class="row">

          <div class="col-md-4">
              <h4 class="text-uppercase">Location</h4>
              <p>
                  2215 Yıkık Daniel Drive
                  Clark, MO 65243
              </p>
          </div>
          <div class="col-md-4">
              <h4 class="text-uppercase">Around the web</h4>
              <ul>

                  <li>
                      <button class="btn btn-outline btn-social">
                          <i class="fab fa-fw fa-facebook-f"></i>
                      </button>
                  </li>
                  <li>
                      <button class="btn btn-outline btn-social">
                          <i class="fab fa-fw fa-google-plus-g"></i>
                      </button>
                  </li>

                  <li>
                      <button class="btn btn-outline btn-social">
                          <i class="fab fa-fw fa-twitter"></i>
                      </button>
                  </li>

                  <li>
                      <button class="btn btn-outline btn-social">
                          <i class="fab fa-fw fa-linkedin-in"></i>
                      </button>
                  </li>

              </ul>
          </div>
          <div class="col-md-4">
              <h4 class="text-uppercase">Contact </h4>
              <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, obcaecati.
              </p>
          </div>

      </div>
  </div>

</footer>

<div id="copyright">
  <div class="container">
    <h6>©Copyright 2021  Lorem ipsum dolor sit amet.</h6>

  </div>
</div>
