 <h2 style="margin-bottom: 30px;">Color</h2>
  <table class="table table-dark table-bordered">
    <thead class="thead-light ">
      <tr>
        <th scope="col">Color ID</th>
        <th scope="col">Color Name</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colors; let i = index">
        <th scope="row">{{color.colorId}}</th>
        <td>{{color.colorName}}</td>
        <td>
          <button style="margin-right: 25px;" type="button" (click)="open(content,i)" class="btn btn-primary"><i class="far fa-edit"></i>Edit</button>
          <button type="button" (click)="deleteColor(i)"  class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</button>


        </td>
      </tr>
    </tbody>
 </table>

 <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Color update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="colorUpdateForm">
      <div class="form-group">
        <label style="color: #000">Color Name</label>
        <input type="text" class="form-control" formControlName="colorName">
        <small class="form-text text-muted">Current color: {{selectedBrand}}</small>
      </div>
      <button type="button" (click)="updateColor()" class="btn btn-primary">Update</button>

    </form>
  </div>

</ng-template>
