
<ng-template  #content let-modal>
  <app-brand-edit></app-brand-edit>
</ng-template>
<div style="margin-top: 100px; margin-bottom: 100px;" class="container">
  <div class="row">
    <div class="col-md-6">
      <app-brand-add></app-brand-add>

    </div>
    <div class="col-md-6">
      <app-color-add></app-color-add>
    </div>
  </div>
  <div style="margin-top: 100px;" class="row">
    <div class="col-md-6">

      <app-brand-list-operation></app-brand-list-operation>
    </div>
    <div class="col-md-6">
      <app-color-list-operation></app-color-list-operation>
    </div>


  </div>
</div>
