/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Roboto', sans-serif;

}

html, body { height: 100%;  background-color: #222222; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
